<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <style>
        .todo {
            background-color: aqua;
            border-radius: 12px;
            padding: 12px;
            margin: 6px;
            width: 600px;
        }
    </style>
</head>

<body>
    <h1>Todolist</h1>
    <a href="{% url 'create-todo' %}">建立待辦事項</a>
    {% for todo in todos %}
    <div class="todo">
        <h4>{{todo.created}}</h4>
        <a href="{% url 'viewtodo' todo.id %}">
            <h3>{{todo.title}}</h3>
        </a>
        <p>{{todo.text}}</p>
        <u>{{todo.important}}</u>
    </div>

    {% endfor %}
</body>

</html>