<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>密碼產生器</title>
    <style>
        body {
            background-color: rgb(255, 255, 255);
            text-align: center;
        }

        #password-generator {
            text-align: center;
            padding: 20px;
            border-radius: 10px;
            background-color: tomato;
            width: 50%;
            margin: 0 auto;
            color: white;

        }
    </style>
</head>

<body>
    <h1>你的密碼為</h1>
    <div id="password-generator">
        <h2>{{ password }}</h2>
    </div>

    <a href="{% url 'index' %}">返回</a>
</body>

</html>